name: CI

on:
  push:
  pull_request:

jobs:
  push-images:
    needs: [ruff-check]
    name: Build and Push Images
    runs-on: ubuntu-latest
    steps:
       - name: Echo Implementation
         run: | 
          echo "TODO: Push Images to Habor or DockerHUB later."

  ruff-check:
    name: Linters
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - id: "setup_docker_compose"
        name: "Setup Docker Compose"
        uses: ./.github/actions/docker-setup

      - name: Run Linters
        run: docker compose -f docker-compose.yaml -f ./resources/docker/ci.docker-compose.yaml exec app uv run ruff check .
    